.App {
	text-align: center;
}

body {
	background-color: #000;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ag-row {
	cursor: pointer;
}

.register-form, .login-form {
	width: 350px;
}